In [1]:
import sqlite3

In [2]:


conn = sqlite3.connect(r'C:\Users\hp\Desktop\Data Analyst\Project\4.Zomato/zomato_rawdata.sqlite')

In [3]:
conn

In [4]:
cursor = conn.cursor()
#Create a cursor object to execute SQL commands:

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
#Execute an SQL command to get the list of tables in the database:

In [6]:
tables = cursor.fetchall()

In [7]:
tables

[('Users',)]

In [8]:
#if we have multiple tables then we use loop
for table in tables:
    print(table[0])

Users